@model PostFormModel



<div class="container">
    <form asp-controller="Posts" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Titolo:</strong>
            <input asp-for="Post.Title" class="d-block w-100" />
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <textarea rows="10" asp-for="Post.Description" class="d-block w-100" ></textarea>
            <span asp-validation-for="Post.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Categoria:</strong>
            <!--input asp-for="Category" class="d-block w-100" />
            <span-- asp-validation-for="Category" class="text-danger"></span-->
            <!--

            <select asp-for="Post.CategoryId" class="d-block w-100" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))"> </select>
                <span asp-validation-for="Post.CategoryId" class="text-danger"></span>

            -->

            <select asp-for="Post.CategoryId" rows="10" class="d-block w-100">
                <option value=""></option>
                @foreach (Category category in Model.Categories)
                {
                    @if (Model.Post.CategoryId == category.Id)
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>

        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <input asp-for="Post.Image" class="d-block w-100" />
            <span asp-validation-for="Post.Image" class="text-danger"></span>
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>
</div>