@model PostFormModel

<div class="container">
    <form asp-controller="Posts" asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Post.Id" />
        <div class="mb-3">
            <strong>Titolo:</strong>
            <input asp-for="Post.Title" class="d-block w-100" />
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <textarea rows="10" asp-for="Post.Description" class="d-block w-100"></textarea>
            <span asp-validation-for="Post.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Categoria:</strong>
            <select asp-for="Post.CategoryId" class="d-block w-100" asp-items="@(new SelectList(Model.Categories,"Id","Name"))">
                <option value=""></option>
            </select>
            <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
        </div>
        <!--
            <div class="mb-3">
            <strong>Tags:</strong>
            <select asp-for="SelectedTags"
                    multiple="multiple"
                    size="10"
                    class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                    asp-items="@(new SelectList(Model.Tags, "Id", "Title"))">
            </select>
        </div>
        -->

        <div class="mb-3">
            <strong>Tags:</strong>
            @foreach (Tag tag in Model.Tags)
            {
                <div>
                    <input value="@tag.Id" id="@tag.Id" name="SelectedTags" checked="@Model.SelectedTags.Contains(tag.Id.ToString())" type="checkbox">
                    <label for="@tag.Id">@tag.Title</label>
                </div>
            }
        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <img src="@Model.Post.Image" />
            <div>
                <input type="file" asp-for="@Model.ImageFile" accept="image/*" />
            </div>
            <span asp-validation-for="Post.Image" class="text-danger"></span>
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>
</div>