@{
    //   Layout = null;
    ViewData["Title"] = "I miei post";
}

@using NetCore_01.Controllers;
@model List<Post>;       // il modello associato a questa pagina è di tipo List<Post>
        
        
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mt-3 mb-3">Lista posts</h1>
        </div>
    @if(Model.Count>0)
    {
            <table class="table post-list-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Immagine</th>
                        <th>Titolo</th>
                        <th>Descrizione</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (Post post in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Detail", "Posts", new {Id=@post.Id})">@post.Id</a>
                        </td>
                        <td class="image"><img src=@post.Image></td>
                        <td class="title">@post.Title</td>
                        <td class="description">@post.Description</td>
                    </tr>
                }
                </tbody>
        </table>
    }
    else
    {
      <h2>Non ci sono post da mostrare</h2>  
    }

    <a class="btn btn-primary" href="@Url.Action("Create", "Posts")">Nuovo post</a>
   
    </div>
    

 